
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar{
  background-color: $blue;
  margin-bottom: 0px;
}
.nav-justified >li {
  color:$blue;
}
.navbar-brand h4{
  color: $white;
}
.nav{
  padding-top: 1.6em;
  font-size: larger;
  margin-left: 5em;
  padding-left: 5px;
}
.navbar-default .navbar-nav > li > a {
  color: $white;
}
.navbar-default .navbar-brand {
  color: $white;
}
.navbar-nav a:hover {
  color:#777;
}
.nav li{
  padding-left: 3em;
}
.container h4{
  color: $white;
}
navbar ul{
  color: $white;
}
.welcome{
    position: relative;
    text-align: center;
}
.centered {
  text-transform: uppercase;
  font-size: 75px;
  color: $white;
  position: absolute;
  top: 29%;
  left: 9%;
  font-family: 'Lato',Helvetica, sans-serif;
}

// start footer
.footer-distributed{
  background-color: #ffc015;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
  height: 100%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  font-size: 36px;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

//end footer

//start my footer
.footer{
  background-color: #ffc015;
}
.footer h2{
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
}

// end my footer
.home{
  font-size: larger;
  padding: 1.5em;
}
.project p{
 color: black;
}
.head h2{
  padding-top: 2em;
}
.desc {
  padding-top: 1em;
  color: $blue;
}
.property a:hover, a:focus {
  outline: none;
  text-decoration: none;
}
@media screen and (min-width: 320px) and (max-width: 480px)
and (min-width: 320px) and (max-width: 568px)
{
  .contact {
    margin: auto;
    height: 100%;
  }
  .centered {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    color: $white;
    position: absolute;
    top: 65%;
    left: 9%;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
  }
}
.login{
  margin:45px;
}
.form{
  padding-right: 4em;
}
.form-control{
  height:40px;
}
.img{
  max-width: 100%;
}
.gallary__image{
  margin-bottom: 1em;
}
.thumbnail h3, .project h1{
  color: #ff770e;
}
.caption, .wording{
  background-color: #cad3d7;
}

.all {
  box-sizing:border-box
}
//body {font-family: Verdana,sans-serif;margin:0}
.mySlides {
  display:none;
}

/* Slideshow container */
.slideshow {
  max-width: 100%;
  position: relative;
  margin-left: 0;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
*/
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

//swiper
.main, .picture {
  position: relative;
  height: 100%;
}

.picture {
  background: #000000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0 10em 2em 10em;
  padding:0;
  height: 480px;
}

.swiper-container {
  width: 90%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}

.details p{
 font-size: 15px;
  color: black;
}
.index h2{
  color:  #ff770e;
}
.index{
  background-color:#cad3d7;
}
.index .col-md-4{
  padding-left:0;
}
.index img{
  border-radius: 8px;
}
.index p{
  color: black;
}
.index .big{
  font-size:17px;
}
.about{
  margin-left:6em;
  margin-right:6em;
  padding: 0;
  font-size: larger;
}
h3{
  text-align: center;
}
h1 > a {
  text-decoration: none !important;
}

