
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


$blue:#0D2338;
$white: #ffff;
.navbar{
  background-color: $blue;
  margin-bottom: 0px;
}
.navbar-brand h4{
  color: $white;
}
.nav{
  padding-top: 1.6em;
  font-size: larger;
  margin-left: 5em;
  padding-left: 5px;
}
.navbar-default .navbar-nav > li > a {
  color: $white;
}
.navbar-default .navbar-brand {
  color: $white;
}
.navbar-nav a:hover {
  color:#777;
}
.nav li{
  padding-left: 3em;
}
.container h4{
  color: $white;
}
ul{
  color: $white;
}
.picture{
    position: relative;
    text-align: center;
}
.centered {
  text-transform: uppercase;
  font-size: 50px;
  color: $white;
  position: absolute;
  top: 29%;
  left: 9%;
  font-family: 'Lato',Helvetica, sans-serif;
}
.footer{
  background-color: #ffc015;
}
.footer h2{
  font-size: 4em;
  text-align: center;
}
.contact{
  margin-left: 20em;
}
.about{
  font-size: larger;
  padding: 1.5em;
}
.project p{
 color: black;
}
.head h2{
  padding-top: 2em;
}
.desc {
  padding-top: 1em;
  color: $blue;
}
.property a:hover, a:focus {
  outline: none;
  text-decoration: none;
}
@media screen and (min-width: 320px) {
  .contact {
    margin: auto;
  }
  .centered {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    color: $white;
    position: absolute;
    top: 65%;
    left: 9%;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
  }
}

@media screen and (max-width: 480px) {
  .contact {
    margin: auto;
  }
  .centered {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    color: $white;
    position: absolute;
    top: 65%;
    left: 9%;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
  }
}